.is-primary,
.button.is-primary,
.hero.is-primary,
.button.is-primary.is-inverted.is-outlined:hover,
.button.is-primary.is-hovered, .button.is-primary:hover{
    background-color:#293d5e;
}
.svg-fill{
    fill:#293d5e;
}
.primary-color,.navbar a:hover,.has-text-primary{
    color:#293d5e!important;
}
a.has-text-primary:focus, a.has-text-primary:hover{
    color:#293d5e!important;
    text-decoration:underline;
}
.is-primary .title,
.is-primary .subtitle,
.blue-link,
.blue-link:hover,
#contact-info,
#contact-info a{
    color:white;
}
.button.is-primary.is-hovered, .button.is-primary:hover{
    color:white!important;
}
.button.is-primary.is-inverted.is-outlined:hover{
    text-decoration:none!important;
}